.box{
    background-color: black;
    height: 350px;
    width: 120px;
    margin: auto;
    border-radius:  16px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.c1{
background-color: red;
border-radius: 50%;
height: 50px;
width: 50px;



}
.c2{
background-color: yellow;
border-radius: 50%;
height: 50px;
width: 50px;

}
.c3{
background-color: green;
border-radius: 50%;
height: 50px;
width: 50px;

}